#hero-section {
    background-image: linear-gradient(to bottom, rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.6)), url("../images/bg_hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}